<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Lista strumenti')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('strumenti')"></nav>
</header>


<table class="table table-striped mt-100">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Nome</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Quantità</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="strumento : ${strumenti}">
        <div>
            <a th:href="@{/amministrazione/show}">
                <td class="img-td-widt"><img class="img-fluid img-list" th:src="@{${strumento.foto}}">
                </td>
                <td class="fw-normal" th:text="${strumento.marca}"></td>
                <td>
                    <div class="badge text-bg-success" th:text="${strumento.prezzo} + ' ' + € "></div>
                </td>
                <td>
                    <div class="badge text-bg-success" th:text="${strumento.modello}"></div>
                </td>
                <td>
                    <a class="btn btn-warning margine" th:href="@{/admin/create}">Aggiungi</a>
                </td>
            </a>
        </div>
    </tr>
    </tbody>
</table>
<form
        id="strumenti-search"
        th:action="@{/strumenti}"
        method="get"
        class="ms-auto"
>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Checked checkbox
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>



<script type="text/javascript" th:src="@{/js/main.js}"></script>
<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>