<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<body>
<div th:fragment="navbar2(area)">

    <div class="bg-gray p-3 m-0">
        <div class="container ">

            <div class="row text-center">

                <div class=" col-4 mt-2">
                    <li class=" list-inline-item">
                        <a class="nav-link text-p" th:classappend="${area == 'home' ? 'active' : ''}" th:href="@{/strumenti}"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class=" list-inline-item">
                        <a class="text-p p-4 fst-italic" th:href="@{/contattaci}">Contattaci</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link text-p" sec:authorize="hasAnyAuthority('admin')" th:classappend="${area == 'area admin' ? 'active' : ''}" th:href="@{/admin}">Area admin
                        </a>
                    </li>
                </div>

                <div class="col-4 ra">
                    <form
                            id="strumenti-search"
                            th:action="@{/strumenti}"
                            method="get"
                            class="ms-auto"
                    >
                        <div class="input-group search-container rounded-pill">
                            <input class="form-control me-2" type="text" name="keyword" id="keyword"
                                   placeholder="Cerca lo strumento" th:value="${preloadSearch}">
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-4 mt-2">
                    <li class="nav-item list-inline-item">
                        <a class="text-p p-4 fst-italic" th:href="@{/spedizioni}">Spedizioni</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="text-p fst-italic" th:href="@{/pagamentoSicuro}">Pagamenti sicuri</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="p-2">
            <span th:if="${#authorization.expression('isAuthenticated()')}" class="text-p " th:href="@{/profilo}">
                <i class="fa-regular fa-user"></i>
            </span>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" class="mt-4 login-link text-p p-3" th:href="@{/registrazione}">
                Registrati
            </a>
            <a class="mt-4 login-link text-p p-3" th:href="@{/custom-login}">
                <span sec:authorize="!isAuthenticated()">Login</span>
            </a>
             <th:block sec:authorize="isAuthenticated()">
                    <span class="gold-text ps-4 fs-4" sec:authorize="hasAnyAuthority('admin','user')"></span>
                <a class="mt-4 text-p" th:href="@{/logout}" sec:authorize="hasAnyAuthority('admin','user')">Logout</a>
            </th:block>
        </div>

        <th:block sec:authorize="isAuthenticated()">
            <div class="">
                Ciao: <span sec:authentication="name"></span>
            </div>
        </th:block>
    </div>


    <div class="d-flex justify-content-center bg-nero">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" th:href="@{/strumenti(searchCategoria = 'Chitarre')}">Chitarre</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" th:href="@{/strumenti(searchCategoria = 'Bassi')}">Bassi</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" th:href="@{/strumenti(searchCategoria = 'Batterie')}">Batterie</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" th:href="@{/strumenti(searchCategoria = 'Pianoforti')}">Tastiere/Pianoforti</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" href="#">Software</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" href="#">Microfoni</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" href="#">Accessori</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" href="#">Audio Professionale PA</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link a-purple" href="#">Video / Podcasting</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>