<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Checkout')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('strumenti')"></nav>
</header>
<div class="col-12 col-lg-6 px-0 border">
    <div class="container p-5 d-flex flex-column justify-content-evenly h-75 mx-4">
        <!-- table -->
        <table class="w-100 mt-5">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img th:src="${strumenti.foto}" style="height: 80px;"></td>
                <td class="d-flex flex-column justify-content-between">
                    <p th:text="${strumenti.nome}" class="mb-0 mt-3"></p>
                   <!-- AGGIUNGERE LA QUANTITA' QUI-->
                </td>
                <td th:text="|${strumenti.prezzo}&euro;|"></td>
            </tr>
            </tbody>
        </table>
        <!-- FORM -->
        <div class="col-12 col-lg-6 px-0 admin">
            <div class="container p-3">

               <!-- SISTEMARE IL FORM
               <form class="row d-flex flex-column justify-content-center"

                      th:action=
                      method= "POST"> -->

                    <div class="col-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>

                    <div class="col-6">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword"/>
                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Indirizzo</label>
                        <input
                                type="text"
                                class="form-control"
                                id="inputAddress" />
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Ulteriori informazioni</label>
                        <input
                                type="text"
                                class="form-control"
                                id="inputAddress2"

                        />
                    </div>

                    <div class="col-6">
                        <label for="inputCity" class="form-label">Città</label>
                        <input type="text" class="form-control" id="inputCity"/>
                    </div>

                    <div class="col-4">
                        <label for="inputState" class="form-label">Nazione</label>
                        <select id="inputState" class="form-select">
                            <option selected>Seleziona</option>
                            <option>Italia</option>

                        </select>
                    </div>
                    <div class="col-4">
                        <label for="inputZip" class="form-label">CAP</label>
                        <input type="number" class="form-control" id="inputZip"/>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark">Acquista</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>