<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resource :: head('Create Strumento')"></head>
<body>

<section>
    <form id="crea-strumento"
          th:object="${strumento}"
          th:action="@{/strumenti/create}"
          method="post"
    >
        <header>
            <div class="row bg-dark p-3">
                <h3 class="text-center text-light"> AGGIUNGI UNO STRUMENTO </h3>
            </div>
        </header>
        <div class="container">
    <div class="col-6 mt-3">
<form
        id="create-strumento"
        class="row g-3"
        th:object="${strumento}"
        th:action="@{/strumenti/create}"
        method="post"
>

    <div class="col-md-6">
        <label for="inputMarca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="inputMarca" th:field="*{marca}">
    </div>
    <div class="col-md-6">
        <label for="inputModello" class="form-label">Modello</label>
        <input type="text" class="form-control" id="inputModello" th:field="*{modello}">
    </div>
    <div class="col-12">
        <label for="inputPrezzo" class="form-label">Prezzo</label>
        <input type="number" class="form-control" id="inputPrezzo" th:field="*{prezzo}">
    </div>
    <div class="col-12">
        <label for="inputFoto" class="form-label">Foto</label>
        <input type="text" class="form-control" id="inputFoto" th:field="*{foto}">
    </div>
    <div class="col-md-6">
        <label for="inputDescrizione" class="form-label">Descrizione</label>
        <input type="text" class="form-control" id="inputDescrizione" th:field="*{descrizione}">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Modifica</button>
        <a class="btn btn-primary" th:href="@{/strumenti}">Cancella</a>
    </div>
</form>
</body>
</html>