<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Lista strumenti')"></head>
<body>
<header>
    <div th:replace="fragments/navbar2 :: navbar2('strumenti')"> </div>
</header>

<div class="container">
    <h1 class="text-center">Marche più popolari</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/fender.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.shure.com/it-IT}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/shure.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://it.yamaha.com/it/products/musical_instruments/index.html}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/yamaha.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.uaudio.com/}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/universal_audio.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://harleybenton.com/}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/harley_benton.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.bose.it/it_it/index.html}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/bose_logo.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/sennheiser.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/rode.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/stairville.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/taylor.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/boss.webp" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category">
                <a th:href="@{https://www.fender.com/it-IT/start}" class="text-decoration-none text-dark">
                    <img src="https://thumbs.static-thomann.de/thumb//thumb270x160/pics/herstlogos/thon.webp" alt="">
                </a>
            </div>
        </div>
    </div>

</div>

<main>
    <div class="container mt-100">
        <h1 class="text-center ">Strumenti</h1>
        <!-- Card strumenti -->
        <div class="row g-5">
            <div class="col-3" th:each="strumenti : ${strumenti}">
                <a th:href="@{/strumenti/show/{id}(id=${strumenti.id})}" class="text-decoration-none text-dark">
                    <div class="card h-100 crad-strumento">
                        <img th:src="${strumenti.foto}" class="card-img-top img-fluid object-fit-contain"
                             alt="strumento" style="height: 200px;">
                        <hr>
                        <div class="card-body d-flex flex-column">
                            <h5 th:text="${strumenti.marca}"></h5>
                            <p class="card-text mb-4" th:text="${strumenti.modello}"></p>
                            <p class="card-text mb-4" th:text="${strumenti.prezzo}"></p>
                            <div class="mt-auto d-flex justify-content-around">
                                <a th:if="${area == 'public'}" th:href="@{/strumenti/show/{id}(id=${strumenti.id})}" class="btn btn-primary">Acquista</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>





<script type="text/javascript" th:src="@{/js/main.js}"></script>
<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>