<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Lista strumenti')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('strumenti')"></nav>
</header>

<main>
    <div class="container">
        <h1 class="text-center mt-5">Strumenti</h1>
        <a class="btn btn-danger mb-3" th:href="@{/strumenti/create}">Aggiungi</a>
        <!-- Card strumenti -->
        <div class="row g-5">
            <div class="col-3" th:each="strumenti : ${strumenti}">
                <a th:href="@{/strumenti/show/{id}(id=${strumenti.id})}" class="text-decoration-none text-dark">
                    <div class="card h-100 crad-strumento">
                        <img th:src="${strumenti.foto}" class="card-img-top img-fluid object-fit-contain"
                             alt="strumento" style="height: 200px;">
                        <div class="card-body d-flex flex-column">
                            <h5 th:text="${strumenti.marca}"></h5>
                            <p class="card-text mb-4" th:text="${strumenti.modello}"></p>
                            <div class="mt-auto d-flex justify-content-around">
                                <a th:href="@{/strumenti/edit/{id}(id=${strumenti.id})}" class="btn btn-primary">Modifica</a>
                                <form th:action="@{/strumenti/delete/{id}(id=${strumenti.id})}" method="post"
                                      onsubmit="return confirm('Are you sure?')">
                                    <button type="submit" class="btn btn-danger">Elimina</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>