<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Contattaci')"></head>
<body>
<header>
    <div th:replace="fragments/navbar2 :: navbar2('strumenti')"> </div>
</header>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-9 ">
                <h1 class="mb-3">Pagamenti sicuri</h1>
                <p >
                    I dati personali sono trattati con la massima sicurezza e riservatezza.
                    Dati sensibili come gli indirizzi o le informazioni delle carte di credito,
                    ci arrivano criptati attraverso un server protetto al quale possono accedere
                    soltanto gli addetti alle vendite ed il webmaster. I rischi per gli acquisti
                    online sono molto rari se si tengono presenti queste semplici regole:
                </p>
            </div>
            <div class="col-3">
                <img src="https://fast-images.static-thomann.de/pics//images/common/badges/security.svg" alt="" style="width: 200px;">
            </div>

        </div>
        <div class="row">

            <div class="col-3 mt-3">
                <img src="https://thumbs.static-thomann.de/thumb//content-square-250/pics/images/helpdesk/paymentsecurity/server-big.jpg" alt="" style="border-radius: 10%;">
            </div>
            <div class="col-9 ">
                <h2>Server protetto</h2>
                <div>
                    <p class="d-flex align-items-center">
                        Assicurati che il sito di vendite online utilizzi un server protetto prima di inviare
                        dati sensibili come i dettagli della carta di credito.
                        Strument utilizza questo tipo di server con dati criptati fin dal 1998.
                    </p>
                </div>

            </div>


        </div>
        <div class="row mt-3">
            <div class="col-3">
                <img src="https://thumbs.static-thomann.de/thumb//content-square-250/pics/images/helpdesk/paymentsecurity/hacker-big.jpg" alt="" style="border-radius: 10%;">
            </div>
            <div class="col-9">
                <h3>Ficcanaso</h3>
                <p>
                    Tutte le informazioni che non vengono ricevute attraverso un server protetto, possono essere visibili online.
                    Sono comunque molto rare le occasioni in cui qualcuno possa accedere a questi dati per utilizzarli.
                    Ciò che accade più frequentemente è che i dipendenti curiosi
                    di un provider o anche qualche collega troppo curioso nel vostro ufficio dia una sbirciatina alle vostre e-mail.
                </p>
            </div>


        </div>
        <div class="row mt-3">
            <div class="col-3">
                <img src="https://thumbs.static-thomann.de/thumb//content-square-250/pics/images/helpdesk/paymentsecurity/since-big.jpg" alt="" style="border-radius: 10%;">
            </div>
            <div class="col-9">
                <h3>Reputazione</h3>
                <p>
                    Esistono centinaia di negozi online, ma solo alcuni hanno un vero magazzino o sono rivenditori ufficiali e autorizzati.
                    La Strument Srl è una ditta familiare fondata nel 1954, con 89.000 articoli immediatamente disponibili in magazzino.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <img src="https://thumbs.static-thomann.de/thumb//content-square-250/pics/images/helpdesk/paymentsecurity/thumbs-up-big.jpg" alt="" style="border-radius: 10%;">
            </div>
            <div class="col-9">
                <h3>Referenze</h3>
                <p>
                    Ci sono moltissimi siti dove verificare le referenze di un venditore online.
                    Forum e portali come "dooyoo" o "ciao!" possono dare un'idea generale abbastanza attendibile della reputazione di un negozio.
                    Strument riceve costantemente moltissimi feedback positivi dai propi clienti
                    ed è per questo che da anni viene considerata la ditta leader in Europa per la vendita di strumenti musicali.
                </p>
            </div>

        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: footer()"></footer>`
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
