<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Lista strumenti')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('strumenti')"></nav>
</header>
<div class="container mt-100">
    <div class="mt-5 row pb-5 " style="min-height:900px">
        <h1 th:text="|Dettagli ${strumento.marca} ${strumento.modello}|"></h1>
        <div class="col-4">
            <div class="img-container img-fluid d-flex justify-content-center">
                <img th:src="${strumento.foto}" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <h5 th:text="|Marca ${strumento.marca}|"></h5>
            <!--Testo che varia in base al numero di strumenti disponibili-->
            <p th:if="${strumento.assortimenti.size() == 0}" style="background-color:red">Non disponibile</p>
            <p th:unless="${strumento.assortimenti.size() == 0}" style="color:green; font-weight:bold">Disponibile</p>
            <span class="text-danger fw-bold" th:text="|${strumento.prezzo} &euro;|"></span>
            <p>Tasse incluse</p>
            <p th:text="|Paga fino a 12 rate da: ${strumento.prezzo} &euro;|"></p>

            <form
                    method="post"
                    th:action="@{/vendite}"
                    th:object="${vendita}"
                    id="create-strumento"
                    class="row g-3"
            >
                <input type="hidden" th:field="*{strumento}">
                <!--<input type="hidden" th:field="*{strumento.prezzo}">-->
                <input type="hidden" th:field="*{data}">
                <select class="form-select" aria-label="Default select example" style="width:100px" name="quantita">
                    <option th:each="qt : ${array}" th:text="${qt}" th:value="${qt}"></option>
                </select>
                <button type="submit">Acquista</button>
            </form>


            <!--Testo che varia in base al costo della merce totale -->
            <p class="text-danger">Spedizione <i class="fa-solid fa-truck"></i></p>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#addToCartModal">
                    <i class="fa-solid fa-bag-shopping"></i>
                    Acquista
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>