<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Info spedizioni')"></head>
<body>
    <header
            th:replace="fragments/navbar2 :: navbar2('spedizioni')">
    </header>
    <div class="container">
        <h1>Costi di spedizione e tempi di consegna per l'Europa</h1>
        <div class="row">
            <table class="table">
                <table class="table">
                    <thead>
                    <thead>
                    <tr>
                        <th>Paese</th>
                        <th>Costi di trasporto</th>
                        <th>Trasporto gratuito da</th>
                        <th>Tempi di consegna</th>
                    </tr>
                    </thead>

                    </thead>
                    <tbody>
                    <tbody>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/at.svg" width="16" height="16"> Austria</td>
                        <td>€ 5,90</td>
                        <td>€ 69</td>
                        <td>2-3 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/be.svg" width="16" height="16"> Belgio</td>
                        <td>€ 8,90</td>
                        <td>€ 150</td>
                        <td>4-6 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/bg.svg" width="16" height="16"> Bulgaria</td>
                        <td>€ 12,90</td>
                        <td>€ 120</td>
                        <td>4-8 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/hr.svg" width="16" height="16"> Croatia</td>
                        <td>€ 4,90</td>
                        <td>€ 69</td>
                        <td>2-3 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/fr.svg" width="16" height="16"> Francia</td>
                        <td>€ 8,90</td>
                        <td>€ 80</td>
                        <td>6-8 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/es.svg" width="16" height="16"> Spagna</td>
                        <td>€ 12,90</td>
                        <td>€ 120</td>
                        <td>4-6 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/gr.svg" width="16" height="16"> Grecia</td>
                        <td>€ 6,90</td>
                        <td>€ 130</td>
                        <td>2-3 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/fi.svg" width="16" height="16"> Finlandia</td>
                        <td>€ 8,90</td>
                        <td>€ 120</td>
                        <td>2-3 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/mc.svg" width="16" height="16"> Monaco</td>
                        <td>€ 9,90</td>
                        <td>€ 69</td>
                        <td>5-7 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/it.svg" width="16" height="16"> Italia</td>
                        <td>€ 12,90</td>
                        <td>€ 79</td>
                        <td>2-6 giorni</td>
                    </tr>
                    <tr>
                        <td><img src="https://fast-images.static-thomann.de/pics/images/common/flags/ee.svg" width="16" height="16"> Estonia</td>
                        <td>€ 8,90</td>
                        <td>€ 100</td>
                        <td>4-8 giorni</td>
                    </tr>

                    </tbody>

                    </tbody>
                </table>

            </table>
        </div>
    </div>
</body>
</html>