body {
    overflow-x: hidden;
}

.img-container img {
    width: 300px;
}

footer {
    margin-top: 10%
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mt-100{
    margin-top: 100px;
}

.img-list{
    width: 200px;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.img-thumbnail {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.name-list-w {
width: 300px;
}

.card {
   width: 300px;
   height: 400px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
   transform-style: preserve-3d;
   transition: transform 0.3s ease-in-out;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
}

.card:hover {
   transform: translateZ(-5px) scale(1.05);
}

.card-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 80px;
}

.card-column {
    margin-bottom: 30px;
}
