body {
    overflow-x: hidden;
}

.img-container img {
    width: 300px;
}

footer {
    margin-top: 10%
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mt-100{
    margin-top: 100px;
}

.img-list{
    width: 200px;
}

th{
    vertical-align: middle;
}

td{
    vertical-align: middle;
}

.img-td-width {
width: 250px;
height: 200px;
}

.name-list-w {
width: 300px;
}
