body {
    overflow-x: hidden;
}

.img-container img {
    width: 300px;
}

footer {
    margin-top: 10%
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mt-100{
    margin-top: 100px;
}

.img-list{
    width: 200px;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.img-thumbnail {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.name-list-w {
width: 300px;
}

.card {
   width: 300px;
   height: 400px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
   transform-style: preserve-3d;
   transition: transform 0.3s ease-in-out;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
}

.card:hover {
   transform: translateZ(-5px) scale(1.05);
}

.card-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 80px;
}

.card-column {
    margin-bottom: 30px;
}

.carousel {
    margin-top: 10%;
}


.inputNumber{
width:100px;
border:1px solid rgb(222, 226, 230);
border-radius:8px;
}

.a-purple:hover {
  background-color: purple;
  border-radius: 10px;
}

.bg-nero{
	background-color: black;
}

.text-p:hover {
  color: purple;
}

a {
	text-decoration: none;
	color: black;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.search-container button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.addstrumento {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.bodyCreate {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, rgba(54,78,0,1) 0%, rgba(0,85,0,1) 100%);
}

.bodyEdit {
 font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, rgba(0,14,78,1) 0%, rgba(0,17,85,1) 100%);
}


.containerproperty {
     max-width:1200px;
     max-height: 1200px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #3e3c3c;
    border-radius: 50px;
}

.bg-gray {
  background-color: rgb(247, 243, 247);
}


h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 40px;
}


.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}


.category i {
    font-size: 48px;
    color: #f0ad4e;
    margin-bottom: 10px;
}


.category p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
}


.category:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.restock-body {
background-color:rgb(209, 200, 192);
}


.stock{
position:relative;
left:42%;
border:1px solid red;
display:inline-block;
padding:10px;
background-color:red;
border-radius:30px;
}


/* Basic styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
  margin: 10px;
}

header {
  text-align: center;
}

h1,
h2 {
  font-weight: normal;
  border-bottom: 1px dotted #bdbdbd;
  padding-bottom: 2px;
  display: inline-block;
}

.bg-red {
  background-color: #ff5252 !important;
}

.container {
  max-width: 1170px;
  margin: auto;
}

