<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resource :: head('Error')"></head>
<body>

<!-- Immagine di background -->
<div class="container-fluid error-hero hero"></div>

<!-- Contenuto dell'errore -->
<div class="container error-body text-center">
    <h3 class="fw-bold fs-2">Qualcosa è andato storto...errore <span class="text-danger" th:text="${status}"></span></h3>
    <p class="text-center fs-4" th:text="${message}"></p>
    <a class="btn btn-dark" th:href="@{/strumenti}">Continua lo shopping</a>
    <hr class="w-25 mx-auto">
    <h5 class="text-uppercase">Hai bisogno di aiuto? Parla con noi:</h5>
    <p class="text-danger">123-456-7890</p>
</div>


<footer th:replace="fragments/footer :: footer()"></footer>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>