
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hTflNag5tIjuJXbGNopIZwSmkbgPRQA5qqMoGlsITD7mK8OPQ1pk-ZWVuGihsIDq" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2xvY2FsaG9zdDo4MDgwL2xvZ2lu"/></head>
<body>
<div class="container">
    <main class="text-light" style="min-height: 727px; ">
        <div class="text-center" style="width: 470px; height: 400px; background-color: #222222e0; margin: 0 auto;">
            <h1 class="pt-5 mt-3">Accesso</h1>
            <form th:action="@{/custom-login}" method="post">
                <label for="username"><i class="fa-regular fa-user"></i></label>
                <input type="text" id="username" name="username" placeholder=" Username" required/>
                <br/>
                <label for="password" class="mt-4 underbars"><i class="fa-solid fa-unlock"></i></label>
                <input type="password" id="password" name="password" placeholder=" Password" class="fs-5 text-light"
                       required
                       style="background-color: transparent; border: none;"/>
                <br/>
                <button type="submit" class="fs-3 mt-5 gold-text" style="background-color: transparent; border: none;">
                    Login
                </button>
            </form>
        </div>
    </main>
</div>
</body></html>