<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resource :: head('Home')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('home')"></nav>
</header>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "setGallerySize": false, "wrapAround": true, "autoPlay": true }'>
    <div class="carousel-cell rounded">
        <img class="carousel-img rounded" src="/negozio_1.jpg" alt="">
    </div>
    <div class="carousel-cell rounded">
        <img class="carousel-img rounded" src="/negozio_2.jpg" alt="">
    </div>
    <div class="carousel-cell rounded">
        <img class="carousel-img rounded" src="/negozio_3.jpg" alt="">
    </div>
</div>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<th:block th:replace="fragments/resource :: script"></th:block>
</body>
</html>